[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
aiohttp = "*"
asyncpg = "*"
beautifulsoup4 = "*"
cloudscraper = "*"
lxml = "*"
multidict = "*"
pylint = "*"
python-dateutil = "*"
requests = "*"
urllib3 = "*"
"discord.py" = "*"
"nhentai.py" = "*"
pytz = "*"
pynacl = "*"
praw = "*"

[requires]
python_version = "3.8"
